body{
  background:#5c969e;
  padding:75px;
  text-align:left;
  font-family: 'Oswald', sans-serif;

}
#panel {
  padding:75px;
  text-align:left;
  font-family: 'Oswald', sans-serif;
   display:none;
   width:300px;
   height:100%;
   position:fixed;
   overflow-y:auto;
   z-index:1000;
   top:0;
   right:-300px;
   background-color:#3d7ea6;
}

#button-hide-panel {display:none;}

.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}
